/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('../docs/index/rosap.jpg');
    background-size: 112%;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form Container Styling */
.signup-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading Styling */
.signup-form h2 {
    margin-bottom: 20px;
}

/* Input and Select Box Styling */
.signup-form input,
.signup-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit Button Styling */
.signup-form input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Submit Button Hover Styling */
.signup-form input[type="submit"]:hover {
    background-color: #4cae4c;
}
